* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
}

.rightDiv {
  height: 100vh;
  width: 30vw;
  background: rgb(61, 59, 59);
  position: absolute;
  margin-left: 70%;
}

.leftDiv {
  height: 100vh;
  width: 70vw;
  background: #fff;
  position: absolute;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3),
    10px 10px 15px rgba(70, 70, 70, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.3),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.internalLeftDiv {
  height: 70vh;
  width: 30vw;
  margin-top: 10vh;
  margin-left: 35vh;
  background: rgb(228, 225, 225);
  position: absolute;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border: 1px solid rgb(61, 59, 59);
}

.inputFields {
  margin-top: 10px;
}

.mainTag {
  margin-top: 15px;
  margin-left: 15vh;
  color: rgb(48, 46, 46);
}

.data {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 75px;
  border-color: whitesmoke;
  padding-left: 10px;
}

.signUpTag {
  margin-top: 60px;
  margin-left: 16vh;
  color: whitesmoke;
}

.images {
  margin-left: 3.4vh;
  margin-top: 3vh;
  height: 140px;
}

.mainTag2 {
  margin-top: 65px;
  margin-left: 2vh;
  color: whitesmoke;
}

.imagesBox {
  margin-left: 3.5vh;
}

.buttonData {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 75px;
  border-color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(61, 59, 59);
  border: 3px solid rgb(61, 59, 59);
}
