* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.rightDiv {
  height: 90vh;
  width: 50vw;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.childDiv {
  height: 60vh;
  width: 30vw;
  background: whitesmoke;
  border-radius: 20px;
  position: absolute;
  box-shadow: -10px -10px 15px rgba(215, 165, 165, 0.3),
    10px 10px 15px rgba(207, 103, 103, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.3),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.data {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 80px;
}

.heading {
  margin-top: 60px;
  margin-left: 110px;
}

.buttonDiv {
  border-radius: 8px;
  margin-left: 205px;
  width: 75px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 30px;
  background: rgb(175, 69, 69);
}

.uniqueDivs {
  margin-top: 15px;
}

.uniqueDiv {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonRemove {
  border-radius: 8px;
  margin-left: 172px;
  width: 140px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 30px;
  background: rgb(175, 69, 69);
}
